.icon-sprite, .icon-1, .icon-10, .icon-11, .icon-13, .icon-14, .icon-15, .icon-16, .icon-18, .icon-2, .icon-20, .icon-26, .icon-27, .icon-28, .icon-29, .icon-3, .icon-30, .icon-31, .icon-32, .icon-33, .icon-34, .icon-35, .icon-36, .icon-37, .icon-38, .icon-39, .icon-4, .icon-40, .icon-41, .icon-42, .icon-43, .icon-44, .icon-45, .icon-46, .icon-47, .icon-49, .icon-50, .icon-51, .icon-52, .icon-53, .icon-54, .icon-55, .icon-56, .icon-57, .icon-58, .icon-59, .icon-60, .icon-61, .icon-62, .icon-63, .icon-64, .icon-65, .icon-7, .icon-8, .icon-9 {
  background-image: url('../images/icon-s9dd590264e.png');
  background-repeat: no-repeat;
}

.icon-1 {
  background-position: 0 0;
  height: 90px;
  width: 90px;
}

.icon-10 {
  background-position: 0 -90px;
  height: 90px;
  width: 90px;
}

.icon-11 {
  background-position: 0 -180px;
  height: 90px;
  width: 90px;
}

.icon-13 {
  background-position: 0 -270px;
  height: 90px;
  width: 90px;
}

.icon-14 {
  background-position: 0 -360px;
  height: 90px;
  width: 90px;
}

.icon-15 {
  background-position: 0 -450px;
  height: 90px;
  width: 90px;
}

.icon-16 {
  background-position: 0 -540px;
  height: 90px;
  width: 90px;
}

.icon-18 {
  background-position: 0 -630px;
  height: 90px;
  width: 90px;
}

.icon-2 {
  background-position: 0 -720px;
  height: 90px;
  width: 90px;
}

.icon-20 {
  background-position: 0 -810px;
  height: 90px;
  width: 90px;
}

.icon-26 {
  background-position: 0 -900px;
  height: 90px;
  width: 90px;
}

.icon-27 {
  background-position: 0 -990px;
  height: 90px;
  width: 90px;
}

.icon-28 {
  background-position: 0 -1080px;
  height: 90px;
  width: 90px;
}

.icon-29 {
  background-position: 0 -1170px;
  height: 90px;
  width: 90px;
}

.icon-3 {
  background-position: 0 -1260px;
  height: 90px;
  width: 90px;
}

.icon-30 {
  background-position: 0 -1350px;
  height: 90px;
  width: 90px;
}

.icon-31 {
  background-position: 0 -1440px;
  height: 90px;
  width: 90px;
}

.icon-32 {
  background-position: 0 -1530px;
  height: 90px;
  width: 90px;
}

.icon-33 {
  background-position: 0 -1620px;
  height: 90px;
  width: 90px;
}

.icon-34 {
  background-position: 0 -1710px;
  height: 90px;
  width: 90px;
}

.icon-35 {
  background-position: 0 -1800px;
  height: 90px;
  width: 90px;
}

.icon-36 {
  background-position: 0 -1890px;
  height: 90px;
  width: 90px;
}

.icon-37 {
  background-position: 0 -1980px;
  height: 90px;
  width: 90px;
}

.icon-38 {
  background-position: 0 -2070px;
  height: 90px;
  width: 90px;
}

.icon-39 {
  background-position: 0 -2160px;
  height: 90px;
  width: 90px;
}

.icon-4 {
  background-position: 0 -2250px;
  height: 90px;
  width: 90px;
}

.icon-40 {
  background-position: 0 -2340px;
  height: 90px;
  width: 90px;
}

.icon-41 {
  background-position: 0 -2430px;
  height: 90px;
  width: 90px;
}

.icon-42 {
  background-position: 0 -2520px;
  height: 90px;
  width: 90px;
}

.icon-43 {
  background-position: 0 -2610px;
  height: 90px;
  width: 90px;
}

.icon-44 {
  background-position: 0 -2700px;
  height: 90px;
  width: 90px;
}

.icon-45 {
  background-position: 0 -2790px;
  height: 90px;
  width: 90px;
}

.icon-46 {
  background-position: 0 -2880px;
  height: 90px;
  width: 90px;
}

.icon-47 {
  background-position: 0 -2970px;
  height: 90px;
  width: 90px;
}

.icon-49 {
  background-position: 0 -3060px;
  height: 90px;
  width: 90px;
}

.icon-50 {
  background-position: 0 -3150px;
  height: 90px;
  width: 90px;
}

.icon-51 {
  background-position: 0 -3240px;
  height: 90px;
  width: 90px;
}

.icon-52 {
  background-position: 0 -3330px;
  height: 90px;
  width: 90px;
}

.icon-53 {
  background-position: 0 -3420px;
  height: 90px;
  width: 90px;
}

.icon-54 {
  background-position: 0 -3510px;
  height: 90px;
  width: 90px;
}

.icon-55 {
  background-position: 0 -3600px;
  height: 90px;
  width: 90px;
}

.icon-56 {
  background-position: 0 -3690px;
  height: 90px;
  width: 90px;
}

.icon-57 {
  background-position: 0 -3780px;
  height: 90px;
  width: 90px;
}

.icon-58 {
  background-position: 0 -3870px;
  height: 90px;
  width: 90px;
}

.icon-59 {
  background-position: 0 -3960px;
  height: 90px;
  width: 90px;
}

.icon-60 {
  background-position: 0 -4050px;
  height: 90px;
  width: 90px;
}

.icon-61 {
  background-position: 0 -4140px;
  height: 90px;
  width: 90px;
}

.icon-62 {
  background-position: 0 -4230px;
  height: 90px;
  width: 90px;
}

.icon-63 {
  background-position: 0 -4320px;
  height: 90px;
  width: 90px;
}

.icon-64 {
  background-position: 0 -4410px;
  height: 90px;
  width: 90px;
}

.icon-65 {
  background-position: 0 -4500px;
  height: 90px;
  width: 90px;
}

.icon-7 {
  background-position: 0 -4590px;
  height: 90px;
  width: 90px;
}

.icon-8 {
  background-position: 0 -4680px;
  height: 90px;
  width: 90px;
}

.icon-9 {
  background-position: 0 -4770px;
  height: 90px;
  width: 90px;
}
